<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learning.suman.reviewtestappver2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ToRead" />
        <activity android:name=".ReadBooks" />
        <activity
            android:name=".WishList"
            android:label="@string/title_activity_wish_list" >
        </activity>
        <activity
            android:name=".EditDeleteBackListDisplay"
            android:label="@string/title_activity_edit_delete_back_list_display" >
        </activity>
        <activity
            android:name=".ShowGraph"
            android:label="@string/title_activity_show_graph" >
        </activity>
        <activity
            android:name=".BookPicture"
            android:label="@string/title_activity_book_picture" >
        </activity>
        <activity
            android:name=".myPride"
            android:label="@string/title_activity_my_pride" >
        </activity>
        <activity
            android:name=".MyBooks"
            android:label="@string/title_activity_my_books" >
        </activity>
    </application>

</manifest>
